@import-normalize;

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #212121;
  background-color: blue;
  /* background-image: url('./images/background.jpg'); */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
